<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookmark.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>Bookmark type:</strong>
  <%= link_to @bookmark.bookmark_type, @bookmark.bookmark_type %>
</p>

<p>
  <strong>Category:</strong>
  <%= link_to @bookmark.category, @bookmark.category %>
</p>
